@model BlackYellow.MVC.Domain.Entites.Customer
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Aguardando Pagamento</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<h3 id="order_review_heading">Sua compra</h3>
<div id="order_review" style="position: relative;">



    <h4>Sr(a) @Model.FullName aguardamos seu pagamento referente a compra. </h4>
    <h4>Vencimento de 7 dias úteis após o recebimento da mensagem</h4>
    <table class="shop_table">
        <thead>
            <tr>
                <th class="product-name">Conta</th>
                <th class="product-total">Agência</th>
            </tr>
        </thead>
        <tbody>
           
                <tr class="cart_item">
                    <td class="product-name">
                        <strong class="product-quantity">545645-5</strong>
                    </td>
                    <td class="product-total">
                        <span class="amount">2154-4</span>
                    </td>
                </tr>
        </tbody>
      
    </table>
</div>