@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["MsgSucesso"] != null)
{

    <div class="alert alert-success">
        <strong>Sucesso!</strong> @TempData["MsgSucesso"]
    </div>

}
@if(TempData["MsgErro"] != null)
{
    <div class="alert alert-danger">
        <strong>Ops!</strong> @TempData["Erro"]
    </div>

}


<h2>Cadastrar Produtos</h2>
<form method="post" asp-action="CreateProduct" asp-controller="Product" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="basic-url">Produto </label>
                <div class="form-group">
                    <input type="text" class="form-control" name="product.name" id="product.Name" required aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <label for="basic-url">Quantidade</label>
            <div class="form-group">
                <input type="text" class="form-control" id="product.Quantity" name="product.Quantity" required aria-describedby="basic-addon3">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="basic-url">Preço Anterior </label>
                <div class="form-group">
                    <input type="text" class="form-control" id="product.LastPrice" name="product.LastPrice" required aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <label for="basic-url">Preço Atual</label>
            <div class="form-group">
                <input type="text" class="form-control" id="product.Price" name="product.Price" required aria-describedby="basic-addon3">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="basic-url">Categoria </label>
                <select class="form-control" id="category" name="product.CategoryId">
                    
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="basic-url">Descriçao do Produto </label>
                <div class="form-group">
                    <textarea type="text" class="form-control" id="product.Description" name="product.Description" required aria-describedby="basic-addon3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="basic-url">Imagem Principal </label>
                <div class="form-group">
                    <input type="file" class="form-control" id="main_file" name="main_file" required aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="basic-url">Imagens Detalhes 1 </label>
                <div class="form-group">
                    <input type="file" class="form-control" id="details_file1"  name="details_file1"required aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="basic-url">Imagens Detalhes 2 </label>
                <div class="form-group">
                    <input type="file" class="form-control" id="details_file2" name="details_file2" required aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="basic-url">Imagens Detalhes 3 </label>
                <div class="form-group">
                    <input type="file" class="form-control" id="details_file3" name="details_file3" required aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <button type="submit"  id="btn-cadastrar" class="btn btn-primary btn-lg">Cadastrar</button>
    </div>

</form>


<script src="~/js/admin/product/create.js"></script>