@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Relatório de Clientes</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="basic-url">Campo 1 </label>
            <div class="form-group">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <label for="basic-url">Campo 2</label>
        <div class="form-group">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary btn-lg">Gerar Relatório</button>
</div>