
<div class="slider-area">
   
    <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">

        <div class="slide-bulletz">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="carousel-indicators slide-indicators">
                            <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                            <li data-target="#slide-list" data-slide-to="1"></li>
                            <li data-target="#slide-list" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="single-slide">
                    <div class="slide-bg slide-one"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>Novidades</h2>
                                            <p>The Last Of US para Xbox One e PS4 - Destaque da semana</p>
                                         
                                            @*<a href="" class="readmore">Learn more</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-two"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>Novidades</h2>
                                            <p> God of War - Destaque da semana</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-three"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <div class="slide-content">
                                                <h2>Novidades</h2>
                                                <p>TitanFall - Destaque da semana</p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End slider area -->
<!-- Sidebar -->
<div class="container">

    <div class="col-md-12">
        <div class="col-md-3">
            <nav class="navbar navbar-inverse" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav" id="category">

                   
                   
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->
        </div>

       
        <div class="col-md-9">
            <h2 class="section-title">Destaques</h2>
            <div class="list-products">

            </div>
            
            
        </div>
    </div>
</div>


<script src="~/js/home/general.js"></script>